<h1> Donations </h1>

<%= button_to 'New Donation', new_donation_path, :method => 'get' %>

<ul>
	<% for donation in @donations %>
		<li id = "donation_<%= donation.id %>">
			<%= donation.description %> 
			| <%= link_to 'Edit', edit_donation_path(donation)%> 
			| <%= link_to 'Delete', donation, :method => 'delete' %>
		</li>
	<% end %>
</ul>
